//colors
$accent: #6AC7BE;
$accentGreenLighter: #C4E6E9;
$white: #fff;
$accentOrange: #FC7E55;
$decoratedViolet: #8484D8;
$decoratedDarkenViolet: #212155;
$decoratedGrey: #A3A3A3;
$decoratedVenomouslyGreen: #42A446;
$contentBg: #F6F6FF;
$lightGreenDecorated: #C0E7E5;
$blackLigthDecorated: #4F4F4F;

$greenDarkenDecorated: #6AC7BE;
$greyLightDecorated: #969696;
$orangeDecorated: #FC7E55;
$darkenWhite: #FAFCFF;

// font-size settings
$h1: 24px;
$h2: 18px;
$h3: 16px;
$h4: 14px;
$h5: 12px;

//fonts
$defaultFont: 'Poppins', sans-serif;


//maket settings
$maketWidth: 1440;