@import './fonts';
@import './vars';
@import './mixins/adaptive-font.scss';


//base styles

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color:  transparent; 
}

.h1{
    @include adaptiv-font(24, 18);
    font-weight: 500;
}

.h2{
    font-size: $h2;
}

.h3{
    font-size: $h3;
    font-weight: 500;
}

.h4{
    font-size: $h4;
}

.h5{
    font-size: $h5;
}

.btn{
    cursor: pointer;
}

body{
    font-family: $defaultFont;
    overflow: hidden;
}

body.opened-navbar{
    overflow: hidden !important;
}

#app{
    width: 100%;
    display: flex;
}

a{
    color: #fff;
    text-decoration: none;
}

li{
    list-style: none;
}

//end base styles

//blocks

@import './blocks/Content.scss';



//end blocks 


//pages
@import '../../pages/Dashboard/scss/Dashboard.scss';


//end pages



//components
@import '../../components/NavBar/scss/NavBar.scss';
@import '../../components/Button/scss/Button.scss';

//end components


@import './media.scss';