@media screen and (max-width: 1440px){
    .page-dashboard{
        .doctor-line{
            .doctor-control-panel{
                max-height: 150px;
            }
        }
    }
}




@media screen and (max-height: 820px){
    .page-dashboard{
        .doctor-line{
            padding: 1% 4%;
        }
    }
}

@media screen and (max-height: 600px){
    .page-dashboard{
        .doctor-line{
            padding: .5% 4%;
        }
    }

    .page-dashboard{
        .doctor-line{
            .doctor-control-panel{
                @include adaptiv-font(11, 10)
            }
        }
    }
}

@media screen and (max-height: 550px){
    .h1{
        @include adaptiv-font(18, 10)
    }

    .h3{
        @include adaptiv-font(12, 10)
    }

    .page-dashboard .doctor-line .doctor-control-panel__doctor-full-name{
        line-height: 1.2rem;
    }

    .btn{
        @include adaptiv-font(10, 8)
    }



    .page-dashboard{
        .doctor-line{
            .doctor-control-panel{
                @include adaptiv-font(12, 10)
            }
        }
    }
}

@media screen and (min-height: 550px){
    .page-dashboard{
        .doctor-line{
            .rooms-collection{
                .room {
                    max-height: 150px;
                }
            }
        }
    }
}


@media screen  and (max-width: 1300px) {
    .page-dashboard{
        .doctor-line{
            .rooms-collection{
                .room {
                    height: 80%;
                    min-width: 150px;
                }
            }
        }
    }
}

@media screen  and (max-width: 1020px) {
    .page-dashboard{
        .doctor-line{
            .rooms-collection{
                .room {
                    min-width: 20.8vw;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .page-dashboard{
        .doctor-line{
            min-height: 30vh !important;
        }
    }
}


@media screen and (max-width: 1200px){
    .navigation{
        &__tablet-toggle-btn{
            display: flex;
        }
    
        &_tablet-hidden{
            width: 2.5%;
            min-width: 56px;
            padding: 2% 0;
    
            .navigation__logo{
                @include adaptiv-font(20, 18)
            }
    
            .navigation__list-of-links{
                padding-left: 10%;
            }
    
            .navigation__link{
                &:hover .navigation__icon{
                    stroke: $white;
                    fill: $white;
                }
            }
        }
        
    }

    .page-dashboard{
        .doctor-line{
            padding: 1% 2%;
            .rooms-collection{
                margin-left: 1%;

                .room {
                    max-height: max-content;
                    height: 80%;

                    &:first-child{
                        margin-left: 0;
                    }
                }
            }
        }
    }

}


@media screen and (max-width: 992px){
    .page-dashboard{
        .doctor-line{
            padding: 1% 2%;
            min-height: 50vh;


            .doctor-control-panel{
                width: 45%;
            }


            .rooms-collection{
                margin-left: 1%;
                width: 55%;

                .room {
                    height: 100%;
                    min-width: 24.9vw;

                    @include adaptiv-font(30, 25);

                    &:first-child{
                        margin-left: 0;
                    }

                }
            }
        }
    }
}

@media screen and (min-height: 800px) and (max-width: 992px){
    .page-dashboard{
        .doctor-line{
            .rooms-collection{
                .room{
                    height: 80%;
                }
            }
        }
    }
}   

@media screen and (max-width: 768px){

    .page-dashboard{
        display: block;

        .doctor-line{
            height: auto;
            flex-direction: column;
            padding-bottom: 5vw;

            .doctor-control-panel{
                width: 100%;
                border-right: none;

                &__content-block_top{
                    width: 100%;
                }
            }

            .rooms-collection{
                width: 100%;
                flex-wrap: wrap;
                margin-top: 30px;
                margin-left: 0;
                justify-content: center;

                .room{
                    width: 30vw;
                    height:30vw;
                    margin-left: 0;
                    margin-top: 3vw;

                    &:nth-child(2n){
                        margin-left: 3vw;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px){
    #app{
        display: flex;
        flex-direction: column;
    }

    body{
        overflow: scroll;
    }

    .content{
        min-height: 100vh;
        padding: 4%;
    }

    .navigation{
        &_mobile-opened{
            .navigation__list-of-links{
                padding-left: 20%;
                padding-top: 20%;
                height: 100vh !important;
            }

            .navigation__link{
                opacity: 1 !important;
                transform: translateX(0) !important;
            }
        }

        &_mobile-bar{
            height: auto;
            width: 100% !important;
            position: static;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:4% !important;
    
            .navigation{
                &__tablet-toggle-btn{
                    display: none;
                }
    
                &__toggle-btn-mobile{
                    width: 25px;
                    height: 25px;
                    background-color: #000;
                    z-index: 100;
                    position: relative;
                }

                &__link-a{
                    width:100%;
                }

                &__link{
                    opacity: 0;
                    transform: translateX(100%);
                    transition: .3s ease-in ;
                }
                
                &__list-of-links{
                    display: block;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 0;
                    background-color: $decoratedDarkenViolet;
                    z-index: 1;
                    transition: .4s ease-in-out;
                }
    
                &__logo{
                    height: auto;
                    z-index: 100;
                    position: relative;
                    font-size: 1.2em;
                }
            }
        }
    }

    .page-dashboard{
        .doctor-line{
            .rooms-collection{
                .room{
                    width: 40vw;
                    height: 40vw;
                }
            }
        }
    }

    .page-stuff{

        .pannel-header-line {
            display: flex;
            flex-wrap: wrap;
            
            &__add-new-btn{
                margin-top: 7%;
                text-align: center;
                width: 100%;
            }
            .tab-line{
                min-width: 100%
            }
        }
    }


}

