.page-dashboard{
    display: grid;
    min-height: 100% ;
    grid-template-columns: 1fr;
    gap: 10px 0;

    .doctor-line{
        background-color: #F6F6FF;
        height: 31vh;
        overflow-x: hidden;
        overflow-y: hidden;
        display: flex;    
        align-items: center;
        padding: 3% 4%;
        border-bottom: 4px solid $white;

        .doctor-control-panel{
            height: 100%;
            width: 30%;
            border-right: $lightGreenDecorated solid 1px;
            @include adaptiv-font(18, 15);

            &__content-wrapper{
                padding-top: 5%;
            }

            &__reset-btn{
                right: 0;
                top: 0;
                position: absolute;
            }

            &__doctor-role{
                margin-top: 3%;
                color: $blackLigthDecorated;
            }

            &__doctor-full-name{
               width: 50%;
               line-height: 1.7rem;
            }

            &__content-block_top{
                padding-bottom: 5%;
                border-bottom: $lightGreenDecorated solid 1px;
                width: 95%;
                position: relative;
            }

            &__content-block_bottom{
                display: flex;
                margin-top: 10px;
                position: relative;
                width: 90%;
            }

            &__stop-the-line-btn{
                position: absolute;
                right: 0;
                top: 0;
            }

            .control-block{
                display: flex;
                width: 50%;
                justify-content: space-between;

                &__decorated-text{
                    color: $greyLightDecorated
                }

                &__control-item{
                    cursor: pointer;
                }

                &__control-count{
                    color: $accentOrange;
                }
            }
        }

        .rooms-collection{
            margin-left: 2%;
            display: flex;
            height: 100%;
            align-items: center;
            width: 70%;

            .room{
                width: 25%;
                min-width: 170px;
                height: 100%;
                background-color: $white;
                margin-left: 2%;
                border-bottom-left-radius: 20px;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                @include adaptiv-font(20, 15);
                position: relative;
                transition: .11s ease-in-out;
                cursor: pointer;

                &:hover{
                    border: 2px solid $orangeDecorated;
                }

                &__header{
                    background-color: $darkenWhite;
                    display: flex;
                    border-top-right-radius: 20px;  
                    border-top-left-radius: 20px;  
                    height: 20%;
                    padding-right: 1%;
                }

                &__priority-index{
                    width: 20px;
                    height: 20px;
                    border: 1px solid $greenDarkenDecorated;
                    border-radius: 50%;
                    color: $greenDarkenDecorated;
                    font-size: .6em;
                    margin-left: 5px;
                }

                &__group{
                    display: flex;
                    width: 70%;
                    align-items: center;
                }

                &__name{
                    width: 35%;
                    height: 100%;
                    background-color: rgba($color: $greenDarkenDecorated, $alpha: .3);
                    border-bottom-right-radius: 20px; 
                    border-top-left-radius: 20px;   
                    font-size: .7em;
                    font-weight: 700;
                }

                &__time-in-room{
                    font-size: .6em;
                    height: 100%;
                }
            }
        }




    }




}

