.content{
    flex: 1;
    height: 100vh;
    padding: 1% 2%;
    background-color: $contentBg;
    overflow-y: scroll;

    &::-webkit-scrollbar{
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $decoratedGrey;
    }
}


