.page-stuff {
    min-height: 100% ;
    padding: 3% 4%;
    padding-bottom: 0;

    .pannel-header-line{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__add-new-btn{
            line-height: 24px;
            padding: .5em 2em;
            @include adaptiv-font(18, 10)
        }

        .tab-line {
            display: flex;
            justify-content: space-between;
            width: 40%;
            min-width: 50vw;
            @include adaptiv-font(18, 10);
        
            &__tab{
                &_active {
                    color:$greenDarkenDecorated;
                    position: relative;
    
                    &::after{
                        position: absolute;
                        bottom: -40%;
                        left: 50%;
                        min-width: 22px;
                        transform: translateX(-50%);
                        width: 50%;
                        border-bottom: 1px solid $greenDarkenDecorated;
                        content: "";
                    }
                }
            }
        }
    }

    .stuff-items {
        color: blue
    }
}