.page-stuff {
    min-height: 100% ;
    padding: 3% 4%;
    padding-bottom: 0;

    .pannel-header-line{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .tab-line {
            display: flex;
            justify-content: space-between;
            width: 40%;
            min-width: 50vw;
        
            &__active {
                color:$greenDarkenDecorated
            }
        }
    }
}