.navigation{
    width: 15%;
    background-color: $decoratedDarkenViolet;
    color: #fff;
    height: 100vh;
    position: relative;
    min-width: 200px;
    width: 10%;
    transition: .4s ease-in-out;
    
    &__tablet-toggle-btn{
        display: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $white;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 22%;
        right: -10px;
        transition: .3s ease-out;

        &_active{
            transform: rotate(180deg);
        }
    }

    &__tablet-toggle-btn-icon{
        fill: #484848;
        width: 5px;
        height: 10px;
    }

    &__logo{
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include adaptiv-font(30, 24);
        transition: .3s ease-in;
    }

    &__icon{
        margin-right: 12px;
        width: 25px;
        height: 25px;
        transition: .3s ease-in-out;
        flex-shrink: 0;
    }

    &__link{
        &:hover .navigation__link-a{
            color: $accent;
        }
    }
    
    &__list-of-links{
        padding-left: 20%;
        overflow: hidden;
    }

    &__link-a{
        display: block;
        width: 100%;
        padding: 15px 0;
        padding-left: 14px;
        @include adaptiv-font(14, 18);
        transition: .3s ease-in-out;
        border-radius: 20px 0 0 20px;
        margin-top: 10px;
        display: flex;
        align-items: center;
    }

    &__link-a_active{
        background-color: $accent;

        &:hover{
            color: $white !important;
        }
    }
}